@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*{
    background-color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 14rem;
    font-family: 'Poppins', sans-serif;
}


.parallax::-webkit-scrollbar{
    display: none;
}